---
---

@import "bootstrap";

body {
  padding-top: 70px;
  text-align: justify;
}

figcaption {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 20px;
}

.breadcrumb {
  background: none;
  border: none;
  display: block;
  margin-left: 0;
  padding-left: 0;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.team-member-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px; /* or 950px */
}

/* Carousel */

.carousel {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}



@import "academicons.css";

/* buttons for publication pages */ 

.button0 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 5px;
}


.button1 {
  background-color: #468ca8;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.button2 {
  background-color: #713de9;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.button3 {
  background-color: #e9822f;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.button4 {
  background-color: #d3585e;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.button5 {
  background-color: #587fd3;
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 5px;
}

.bibliography { margin-bottom: 50px; margin-top: 20px; list-style-type: circle; }
.bibliography li { margin: 10px 0; position: relative; }
.bibliography li span { display: block; }
.bibliography li .title { font-weight: bolder; }
.bibliography li .author a { border-bottom: 1px dashed; }
.bibliography li .author a:hover { border-bottom-style: solid; text-decoration: none; }
.bibliography li .author > em { border-bottom: 1px solid; font-style: normal; font-weight: normal; }
.bibliography li .coauthor { font-weight: normal; }
.bibliography li .coauthor, .bibliography li .coauthor:link, .bibliography li .coauthor:visited { color: #B509AC; }
.root[data-is-touch="false"] .bibliography li .coauthor:hover { color: #f92651; }
.root[data-is-touch] .bibliography li .coauthor.active, .root[data-is-touch] .bibliography li .coauthor:active { color: #cd062e; }
.bibliography li .coauthor.disabled, .bibliography li .coauthor:disabled { color: rgba(181, 9, 172, 0.2) !important; }
.bibliography li a.abstract, .bibliography li a.bibtex { cursor: pointer; }
.bibliography li .hidden { font-size: 0.875rem; max-height: 0px; overflow: hidden; text-align: justify; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.bibliography li .hidden p { line-height: 1.4em; margin: 10px; }
.bibliography li .hidden pre { font-size: 1em; line-height: 1.4em; padding: 10px; }
.bibliography li .hidden.open { max-height: 100em; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }
.bibliography li span.abstract.hidden { border: dashed 1px white; }
.bibliography li span.abstract.hidden.open { border-color: #828282; }
.bibliography li span.notes { color: #828282; }
.bibliography abbr { position: absolute; left: -7em; }