---
title: "Team"
layout: default
excerpt: "ICRG: Team members"
sitemap: false
permalink: /people/
---

<h1>{{page.title}}</h1>

<h2><a id="staff"></a>Staff</h2>

{% assign members = site.posts | where: 'category', 'staff'  | sort: 'date' %}
<div class='container'>
    <div class='row'>
        {% for member in members %}
            <div class='col-md-6'>
                <div class="card team-member-card">
                    <div class="row mt-3"> 
                        <div class="col-md-2">
                            <a href={{member.url}}>
                                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                                    class="card-img img-responsive img-thumbnail"
                                    style="filter: grayscale(0%); max-width: 100px;"/>
                            </a>
                        </div>

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-9">
                            <div class="card-body">
                            <h4 class="card-title">{{ member.title }}</h4>
                            <p class="card-text">{{ member.c_name }}</p>
                            <p class="card-text">{{ member.role }}</p>
                            <p class="card-text">{{ member.research_topic }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<h2><a id="Research Assitant"></a>Research Assitant</h2>

{% assign members = site.posts | where: 'category', 'undergraduate student' | sort: 'date' %}
<div class='container'>
    <div class='row'>
        {% for member in members %}
            <div class='col-md-6'>
                <div class="card team-member-card">
                    <div class="row mt-3"> 
                        <div class="col-md-2">
                            <a href={{member.url}}>
                                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                                    class="card-img img-responsive img-thumbnail"
                                    style="filter: grayscale(0%); max-width: 100px;"/>
                            </a>
                        </div>

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-9">
                            <div class="card-body">
                            <h4 class="card-title">{{ member.title }}</h4>
                            <p class="card-text">{{ member.c_name }}</p>
                            <p class="card-text">{{ member.role }}</p>
                            <p class="card-text">{{ member.research_topic }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<h2><a id="Former vistors and Research Assitants"></a>Former Vistors and Research Assitants</h2>

{% assign members = site.posts | where: 'category', 'former' | sort: 'date' %}
<div class='container'>
    <div class='row'>
        {% for member in members %}
            <div class='col-md-6'>
                <div class="card team-member-card">
                    <div class="row mt-3"> 
                        <div class="col-md-2">
                            <a href={{member.url}}>
                                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                                    class="card-img img-responsive img-thumbnail"
                                    style="filter: grayscale(0%); max-width: 100px;"/>
                            </a>
                        </div>

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-9">
                            <div class="card-body">
                            <h4 class="card-title">{{ member.title }}</h4>
                            <p class="card-text">{{ member.c_name }}</p>
                            <p class="card-text">{{ member.role }}</p>
                            <!-- <p class="card-text">{{ member.current_location }}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>





<!-- Staff -->

<!-- <h2><a id="staff"></a>Staff</h2>
{% assign members = site.posts | where: 'category', 'staff' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: grayscale(0%); max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.c_name }}</p>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %} -->

<!-- Graduate Students -->
<!-- 
<h2><a id="Graduate Student"></a>Graduate Student</h2>
{% assign members = site.posts | where: 'category', 'graduate student' | sort: 'date' %}
{% for member in members %}
    <div class="card team-member-card">
        <div class="row mt-3">
            <div class="col-md-2">
                <a href={{member.url}}>
                    <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                        class="card-img img-responsive img-thumbnail"
                        style="filter: grayscale(0%); max-width: 100px;"/>
                </a>
            </div>

            <div class="col-md-10">
                <div class="card-body">
                <h4 class="card-title">{{ member.title }}</h4>
                <p class="card-text">{{ member.c_name }}</p>
                <p class="card-text">{{ member.role }}</p>
                </div>
            </div>
        </div>
    </div>

{% endfor %} -->

<!-- Undergraduate Students -->

<!-- <h2><a id="Undergradudate Student"></a>Undergraduate Student</h2>
{% assign members = site.posts | where: 'category', 'undergraduate student' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: grayscale(0%); max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.c_name }}</p>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>

{% endfor %} -->
