<div class="media"> 
    <h4> Sponsors and Collaborators </h4>

    <img src="{{ site.url }}{{ site.baseurl }}/images/sponsor_collaborator_logo/NSFC.jpeg"
        class="img-responsive"
        style="filter: grayscale(0%); max-width: 250px;"/>

    <img src="{{ site.url }}{{ site.baseurl }}/images/sponsor_collaborator_logo/MoST.png"
        class="img-responsive"
        style="filter: grayscale(0%); max-width: 250px;"/>        

    <img src="{{ site.url }}{{ site.baseurl }}/images/sponsor_collaborator_logo/msra_logo.png"
        class="img-responsive"
        style="filter: grayscale(0%); max-width: 250px;"/>

    <img src="{{ site.url }}{{ site.baseurl }}/images/sponsor_collaborator_logo/Huawei.png"
        class="img-responsive"
        style="filter: grayscale(0%); max-width: 250px;"/>

    <img src="{{ site.url }}{{ site.baseurl }}/images/sponsor_collaborator_logo/lenovo_res.png"
        class="img-responsive"
        style="filter: grayscale(0%); max-width: 250px;"/>    

    <img src="{{ site.url }}{{ site.baseurl }}/images/sponsor_collaborator_logo/alibaba_cloud.png"
        class="img-responsive"
        style="filter: grayscale(0%); max-width: 250px;"/>

    <img src="{{ site.url }}{{ site.baseurl }}/images/sponsor_collaborator_logo/biren.png"
        class="img-responsive"
        style="filter: grayscale(0%); max-width: 250px;"/>   

    <img src="{{ site.url }}{{ site.baseurl }}/images/sponsor_collaborator_logo/sophoton.png"
        class="img-responsive"
        style="filter: grayscale(0%); max-width: 250px;"/>           
</div>