
<style>
.city {
    background-color: tomato;
    color: white;
    padding: 10px;
}
</style>


<!-- a division as the container of the html elements -->
<div class="media"> 
<h4> News </h4>

<!-- larger space between entries -->
<!-- <ul class="list-unstyled">
{% for article in site.data.news limit: 3 %}
    <li class="media">
        <div class="media-body">
        <small>{{ article.date }}</small>
        <p>{{ article.title }}</p>
        </div>
    </li>
{% endfor %}
</ul>  -->

<!-- small space between entries -->
{% for article in site.data.news limit: 3 %}
<p>
    <small>[{{ article.date }}] {{ article.title }}.</small>
</p>
{% endfor %}

<!-- link to news page -->
<p align="right">
<small><a href="{{ site.url }}{{ site.baseurl }}/news.html"> ... see all news</a></small>
</p>

</div>