---
layout: default
---

<div class="col-sm-12">
    <div class="row"></div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/people">People</a></li>
                <li class="breadcrumb-item text-capitalize"><a href="/people#{{ page.category }}">{{ page.category }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
        </nav>
    </div>
    <div class="row"></div>
        <div class="col-12 text-center">
            <!-- Avatar -->
            <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ page.image }}"
                 class="img-circle"
                 style="filter: grayscale(0%); max-width: 200px;"/>

            <!-- Name & Role -->
            <h1>{{ page.title }}, {{ page.c_name }}</h1>
            <h3>{{ page.role }}</h3>

            <!-- Social -->
            <ul class="list-inline">
                <!-- Social media links remain the same -->
                {% if page.social.twitter %}
                    <li class="list-inline-item"><a target="blank" href="{{page.social.twitter}}"><i class="fab fa-twitter"></i></a></li>
                {% endif %}
                <!-- ... other social media links ... -->
            </ul>
        </div>
    </div>

    <!-- Bio -->
    <div class="row">
        <div class="col-12">
            <h3>Biography</h3>
            {{ content }}
        </div>
    </div>
</div>
